*{
	background: #f4f4f4;
}
.head {
	color: #06356b;
	text-align: center;
}
body {
    background-color: solid  #ebedef ;
	front-family: Ariel, Verdana, sans-serif, "Courier New", Courier, monospace;
}
nameHeading {
	font: monospace;
	color: #ecf0f1;
}

p {
color: #212f3d ;
}

.container{
	width:60%;
	margin:auto;
}

.social-media-buttons{
	size: 30%
}