body {
    background-color: solid  #ebedef ;
	front-family: Ariel, Verdana, sans-serif;}
	h1 {
	color: #ecf0f1   ;}
	h2, h3 {
	color:  #066220;}
	p {
	color: #212f3d ;}

body{
    width: 1750px;
    border: 6px solid #094875 ;
    padding: 25px;
    margin: 50px;}

