---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content blog">

      <div class="container">
        <div class="page-content">

          {{ content }}

        </div>
      </div>

    </main>

  </body>
	
	<footer class="footer">
	  <div class="container">
			<ul class="icons">
			    <div class="social-buttons">
			        <a href="https://linkedin.com/in/omar-almoallim"
			            class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
			            <span class="social-button__inner">
			                <i class="fab fa-linkedin-in"></i>
			            </span>
			        </a>
			        <a href="https://github.com/OmarAlmo" class="social-buttons__button social-button social-button--github"
			            aria-label="GitHub">
			            <span class="social-button__inner">
			                <i class="fab fa-github"></i>
			            </span>
			        </a>
			        <a href="https://twitter.com/0marAlmo"
			            class="social-buttons__button social-button social-button--twitter" aria-label="Twitter">
			            <span class="social-button__inner">
			                <i class="fab fa-twitter"></i>
			            </span>
			        </a>
			        <a href="https://lichess.org/@/omaral1"
			            class="social-buttons__button social-button social-button--chess" aria-label="Mail">
			            <span class="social-button__inner">
			                <i class="fas fa-chess"></i>
			            </span>
			        </a>
			        <a href="mailto:omar.almoallim@gmail.com"
			            class="social-buttons__button social-button social-button--mail" aria-label="Mail">
			            <span class="social-button__inner">
			                <i class="fa fa-envelope"></i>
			            </span>
			        </a>
			    </div>
			</ul>
	  </div>
	</footer>

</html>
